.services {
    .services__img {
        margin-bottom: 24px;
    }
    .services__title {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 32px;
    }
    .services__text {
        color: rgba($text-color, 0.8);
    }
}